extends layout

block content
    h1 Purchase Confirmation
    p Thank you for your purchase!
    a.btn(href='/') Back to Products

block scripts
  script.
    function purchase(title, productId, price) {

      dataLayer.push({
        event: "custom-purchase"
      });

      dataLayer.push({
        event: "purchase",
        ecommerce: {
          currency: "AUD",
          value: price,
          em: "ec81f3ac7b2b19675bab9d54cf416f9f18cff87c97da5cca82c0f0891bc40602",
          ph: "c59475d96e9f01d7d18d06cfad84dd02333207f02c0c2c5663ef2782cda0390e",
          items: [
            {
              id: productId,
              item_id: productId,
              item_name: title,
              price: price,
              quantity: 1
            }
          ]
        }
      });
    }

    document.addEventListener('DOMContentLoaded', function() {
      purchase('Royal phone', 1, 69.99);
    });