extends layout

block content
    h1 Purchase Confirmation
    p Thank you for your purchase!
    a.btn(href='/') Back to Products

block scripts
  script.
    function purchase(title, productId, price) {
      dataLayer.push({
        event: "purchase",
        ecommerce: {
          currency: "AUD",
          value: price,
          items: [
            {
              item_id: productId,
              item_name: title,
              price: price,
              quantity: 1
            }
          ]
        }
      });
    }

    document.addEventListener('DOMContentLoaded', function() {
      purchase('Royal phone', 1, 69.99);
    });